services:
  prometheus:
    image: prom/prometheus:v2.43.1
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    network_mode: "host"
    extra_hosts:
      - host.docker.internal:host-gateway

  grafana:
    image: grafana/grafana:9.5.1
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - 8000:3000
    extra_hosts:
      - host.docker.internal:host-gateway

  jaeger:
    image: jaegertracing/all-in-one:1.54
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
    ports:
      - "6833:6831/udp"
      - "6834:6832/udp"
      - "4317:4317"
      - 16686:16686

volumes:
  prometheus_data:
  grafana_data:
